In [1]:
from questionnaire_reader import QuestionnaireReader
import pandas as pd
# q = QuestionnaireReader(path="/home/groot/Downloads/questionnaire_raw.xlsx")

In [2]:
# q.data.to_csv("/home/groot/Projects/papers/covariates-in-neuroimaging/data/questionnaire.csv")

In [1]:
import gspread as gs
import pandas as pd

In [3]:
gc = gs.service_account(filename='/home/groot/Downloads/neurohub-374909-2b563177ea22.json')
sh = gc.open_by_url('https://docs.google.com/spreadsheets/d/18ITYqHSUnaabxq9vxmrW6W5uuSu7XGJ48keYpS-jMVc/edit?usp=sharing')

In [5]:
ws = sh.worksheet('Combined_CRF_Gal')

In [7]:
df = pd.DataFrame(ws.get_all_records())

In [8]:
df

,Database ID,Questionnaire,#REF!,Name,ID,Phone,Email,Sex,Date of Birth,Age (years),...,Hour 5th Scan,Date 5th Scan,Sheets,Rows_1,Rows_2,Rows_3,Rows_4,Rows_5,all qsts,ISNT_ISRAELI_ID
0,2980,,,,69719078,,,Male,13/03/1949,66,...,,,,,,,,,,
1,2980,,,,69719078,,,Male,13/03/1949,66,...,,,,,,,,,,
2,2987,,,,50095637,,,Male,01/01/1950,65,...,,,,,,,,,,
3,2987,,,,50095637,,,Male,01/01/1950,65,...,,,,,,,,,,
4,2978,,,,59631762,,,Female,18/08/1965,50,...,,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
990,3701,879,Yes,Maayan Gladstone,322995184,050-2890968,maayanglado@gmail.com,Male,19/07/2001,,...,,,,,,,,,,
991,3702,873,Yes,Rom Severin,308342427,052-2221061,Rom.svr@gmail.com,Male,09/09/1992,,...,,,,,,,,,,
992,1074,882,Yes,Amir Mano,205779788,054-3008582,amirmano14@gmail.com,Male,14/11/1994,,...,,,,,,,,,,
993,,878,Yes,Eli Rot,313457079,052-2085050,elirot054@gmail.com,Male,18/04/1995,,...,,,,,,,,,,
994,,883,Yes,Yonatan Faigenbaum,38796108,054-7526946,fnatanoy@gmail.com,Male,16/10/1983,,...,,,,,,,,,,